<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>voters eligiblity calculator</title>
</head>
<body>
    <!------
    <form action="eli">
        <label>enter your name</label>
        <input type="text" name="user1">
        <label>enter your age</label>
        <input type="text" name="userage">
        <input type="submit" name="btn">
        <h1>{{msg}}</h1>
    </form>--->

    <form action="calc">
        <input type="number" name="num1" placeholder="enter num1">
        <input type="number" name="num2" placeholder="enter num2">
        <input type="submit" name="btn">
        {{sumvalue}}
    </form>

</body>
</html>